<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>FAQ</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col s8 offset-s2">
                  <h1>Questions Fréquentes</h1>
                     <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">filter_drama</i>C'est quoi hobbnb ?</div>
                            <div class="collapsible-body">
                              <p>
                                hobbnb est le premier site communautaire qui mets en relation des propriétaires de logements
                                avec des personnes à la recherche de maisons, appartements ou chambres à louer
                                autour de la thématique des loisirs.
                              </p>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">place</i>Quelle nouveauté apporte hobbnb ?</div>
                            <div class="collapsible-body">
                                <p>
                                  Avec hobbnb il vous est désormais possible de rechercher et de partager un logement en fonction de vos loisirs,
                                  hobbies, ou activités préférés quelles soient sportives ou culturelles.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">info_outline</i>Est ce que hobbnb est une startup Française ?</div>
                            <div class="collapsible-body">
                                <p>Absolument à 100%</p>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">visibility</i>D'où est venu l'idée de hobbnb ?</div>
                            <div class="collapsible-body">
                                <p>
                                  Rien ne nous rapproche et nous unis plus que les passions.
                                  De même que rien ne nous sépare plus que les rapports d'argent.
                                  Avec hobbnb nous voulons amener une nouvelle approche de l'économie de partage
                                  basée non pas sur le prix mais sur cet incroyable catalyseur d’amitiés
                                  que sont les loisirs.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">whatshot</i>Quelle sont les avantages de louer en fonction d'un loisirs ?</div>
                            <div class="collapsible-body">
                              <p>
                                C'est l'assurance de trouver rapidement et de réserver a un prix compétitif,
                                le logement le mieux situé pour pratiquer son loisir préféré ou en découvrir de nouveaux.
                                Mais c'est aussi rencontrer et échanger avec des membres de la communauté hobbnb
                                qui partagent les mêmes centres d’intérêts.
                              </p>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">terrain</i>Dois-je obligatoirement pratiquer une  activité  pour pouvoir louer sur hobbnb ?</div>
                            <div class="collapsible-body">
                                <p>
                                  Non absolument pas ! En revanche pour pouvoir lister votre logement
                                  celui-ci doit être associé à l'activité pour laquelle il se destine le mieux.
                                  Par exemple, un studio a Tignes sera associé au ski comme activité principale.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">all_inclusive</i>Pourrai-je ajouter mon logement dans plusieurs catégories de loisirs ?</div>
                            <div class="collapsible-body">
                                <p>
                                  Oui, cependant il y aura une activité principale à sélectionner en fonction de la saison.
                                  Les autres activités seront des sous-activités.
                                  Veillez donc dès le début à bien choisir l'activité principale pour laquelle la situation de votre logement se prête le mieux !
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">schedule</i>Quand est ce que hobbnb sera ouvert aux réservations ?</div>
                            <div class="collapsible-body">
                                <p>
                                  hobbnb sera lancé courant 2016.
                                  Pour être informé des développements et ne pas manquer le jour du lancement
                                  rejoignez notre newsletter <a href="">ici</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
