<footer class="card-panel blue-grey lighten-1">
	<div class="container">
		<div class="row">
			<div class="col s3">
				<h2><B>Language setting</B></h2>
				<div class="divider"></div>
					<select>
					  <option value="english" selected>English</option>
					  <option value="français">Français</option>
					  <option value="deutsch">Deutsch</option>
					  <option value="espagnol">Espagnol</option>
					</select><br>
					<select>
					  <option value="€ EUR">€ EUR</option>
					  <option value="$ USD">$ USD</option>
					  <option value="£ GBP">£ GBP</option>
					</select>
			</div>
			<div class="col s3 offset-s1">
				<h2><B>Discover</B></h2>
				<div class="divider"></div>
				<a href="#"><font color="white">How it works</font></a><br>
				<a href="#"><font color="white">Social connections</font></a><br>
				<a href="#"><font color="white">Why host ?/<font></a><br>
				<a href="#"><font color="white">Host cancellation policy</font></a>
			</div>
			<div class="col s3 offset-s1">
				<h2><B>Company</B></h2>
				<div class="divider"></div>
				<a href="#"><font color="white">Contact us</font></a><br>
				<a href="http://demohobbnb.businesscatalyst.com/faq.html"><font color="white">FAQ</font></a><br>
				<a href="#"><font color="white">Terms & privacy</font></a><br>
				<a href="#"><font color="white">About us</font></a><br>
				<a href="#"><font color="white">Press</font></a>
			</div>
		</div>
		<div class="divider"></div>
		<h2>Join us on</h2>
		<div class="row">
			<div class="col s4 offset-s4">
				<div class="pcenter">
					<img src="#" href="#"></img>
					<img src="#" href="#"></img>
					<img src="#" href="#"></img>
					<img src="#" href="#"></img>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s4 offset-s4">
				<div class="pcenter">
					<p>Adventure begin at hobbnb | 2016</p>
				</div>
			</div>
		</div>
	</div>
</footer>
