<footer>
	<div class="container">
		<div class="row">
			<div class="col s3">
				<h3><B>Language setting</B></h3>
				<div class="divider"></div>
					<select class="browser-default">
						<option value="english">English</option>
						<option value="français" selected>Français</option>
						<option value="deutsch">Deutsch</option>
						<option value="espagnol">Espagnol</option>
					</select><br>
					<select class="browser-default">
						<option value="€ EUR">€ EUR</option>
						<option value="$ USD">$ USD</option>
						<option value="£ GBP">£ GBP</option>
					</select>
			</div>
			<div class="col s3 offset-s1">
				<h3><B>Découvrez</B></h3>
				<div class="divider"></div>
				<a href="#"><font color="white">Comment ça marche</font></a><br>
				<a href="#"><font color="white">Connections sociales</font></a><br>
				<a href="#"><font color="white">Pourquoi héberger ?</font></a><br>
				<a href="#"><font color="white">Politique d'annulation de réservation</font></a>
			</div>
			<div class="col s3 offset-s1">
				<h3><B>Compagnie</B></h3>
				<div class="divider"></div>
				<a href="#"><font color="white">Nous contacter</font></a><br>
				<a href="http://demohobbnb.businesscatalyst.com/faq.html"><font color="white">FAQ</font></a><br>
				<a href="#"><font color="white">Termes & vie privée</font></a><br>
				<a href="#"><font color="white">À propos</font></a><br>
				<a href="#"><font color="white">Presse</font></a>
			</div>
		</div>
		<div class="divider"></div>
		<h3>Rejoignez nous sur</h3>
		<div class="row">
			<div class="col s4 offset-s4">
				<div class="pcenter">
					<img src="#" href="#"></img>
					<img src="#" href="#"></img>
					<img src="#" href="#"></img>
					<img src="#" href="#"></img>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s4 offset-s4">
				<div class="pcenter">
					<p style="color:white;">L'aventure commence à hobbnb | 2016</p>
				</div>
			</div>
		</div>
	</div>
</footer>
