<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">L'aventure commence sur hobbnb.</h5>
                <h3>Rejoignez nous sur</h3>
                <div class="center">
                    <a ng-href="https://www.facebook.com" target="_blank"><img src="assets/icone/facebook-logo.png" onmouseover="javascript:this.src='assets/icone/facebook-logo-n.png';" onmouseout="javascript:this.src='assets/icone/facebook-logo.png';" style="height:38px"></a>
                    <a ng-href="https://www.twitter.com" target="_blank"><img src="assets/icone/twitter-logo.png" onmouseover="javascript:this.src='assets/icone/twitter-logo-n.png';" onmouseout="javascript:this.src='assets/icone/twitter-logo.png';" style="height:38px"></a>
                    <a ng-href="https://www.youtube.com" target="_blank"><img src="assets/icone/youtube-logo.png" onmouseover="javascript:this.src='assets/icone/youtube-logo-n.png';" onmouseout="javascript:this.src='assets/icone/youtube-logo.png';" style="height:38px"></a>
                    <a ng-href="https://www.instagram.com" target="_blank"><img src="assets/icone/instagram-logo.png" onmouseover="javascript:this.src='assets/icone/instagram-logo-n.png';" onmouseout="javascript:this.src='assets/icone/instagram-logo.png';" style="height:38px"></a>
                </div>
            </div>
            <div class="col l7 offset-l1 s12">
                <div class="col s5">
                    <h3>
                        Découvrez
                    </h3>
                    <div class="divider"></div>
                    <ul>
                        <li>
                            <a ng-href="#how-it-work" class="grey-text text-lighten-3">
                                Comment ça marche
                            </a>
                        </li>
                        <li>
                            <a ng-href="#social-connections" class="grey-text text-lighten-3">
                                Connections sociales
                            </a>
                        </li>
                        <li>
                            <a ng-href="#find-out-more" class="grey-text text-lighten-3">
                                Pourquoi héberger ?
                            </a>
                        </li>
                        <li>
                            <a ng-href="#host-cancellation-policy" class="grey-text text-lighten-3">
                                Politique d'annulation de réservation
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col s5 offset-s1">
                    <h3>
                        Compagnie
                    </h3>
                    <div class="divider"></div>
                    <ul>
                        <li>
                            <a ng-href="#sendEmail" class="grey-text text-lighten-3">
                                Nous contacter
                            </a>
                        </li>
                        <li>
                            <a ng-href="#faq" class="grey-text text-lighten-3">
                                FAQ
                            </a>
                        </li>
                        <li>
                            <a ng-href="#terms-privacy" class="grey-text text-lighten-3">
                                Termes &amp; vie privée
                            </a>
                        </li>
                        <li>
                            <a ng-href="#about" class="grey-text text-lighten-3">
                                À propos
                            </a>
                        </li>
                        <li>
                            <a ng-href="#press" class="grey-text text-lighten-3">
                                Presse
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 hobbnb
        </div>
    </div>
</footer>
