<header>
    <div class="navbar-fixed">

        <nav class="navTop">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo"><img src="/assets/blud_logo.png" width="187px"/></a>
                <a href="#" data-activates="nav-mobile" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="left hide-on-med-and-down" style='padding-left: 200px;'>
                    <li>
                        <!-- <a href="/search"> -->
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" class="custom_search" required>
                                <label for="search">
                                    <i class="material-icons">search</i>
                                </label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                        <!-- </a> -->
                    </li>
                    <li>
                        <a tooltipped href="/creation/place" data-position="bottom" data-delay="50" data-tooltip="Ajouter un hébergement">
                            <i class='material-icons left'>add</i>
                            Hébergement
                        </a>
                    </li>
                    <li>
                        <a href="/creation/spot">
                            <i class='material-icons left'>add</i>
                            Spot
                        </a>
                    </li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li ng-show='currentUser.isAdmin'>
                        <a href="/admin">
                            <i class="material-icons left">dashboard</i>Admin</a>
                    </li>
                    <li>
                        <a href="http://www.hobbnb-magazine.com/">
                            <i class="material-icons left">book</i>Magazine</a>
                    </li>
                    <li ng-hide='currentUser'>
                        <a href="/user/login">
                            <i class="material-icons left">perm_identity</i>Login</a>
                    </li>
                    <span ng-show='currentUser'>
                        <li>
                            <a href="/user/profile/">
                                <i class="material-icons left">perm_identity</i>{{currentUser.identity.firstName}}</a>
                        </li>
                        <li>
                            <a href="/messages">
                                <i class="material-icons left">mail</i>Messagerie</a>
                        </li>
                        <li>
                            <a ng-click="logout()">Logout</a>
                        </li>
                    </span>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li>
                        <a href="/">
                            <i class="material-icons left">home</i>hobbnb</a>
                    </li>
                    <li>
                        <a href="/search">
                            <i class="material-icons left">search</i>Rechercher</a>
                    </li>
                    <li>
                        <a href="/creation/place">
                            <i class='material-icons left'>add</i>
                            Hébergement
                        </a>
                    </li>
                    <li>
                        <a href="/creation/spot">
                            <i class='material-icons left'>add</i>
                            Spot
                        </a>
                    </li>
                    <li ng-show='currentUser.isAdmin'>
                        <a href="/admin">
                            <i class="material-icons left">dashboard</i>Admin</a>
                    </li>
                    <li>
                        <a href="http://www.hobbnb-magazine.com/">
                            <i class="material-icons left">book</i>Magazine</a>
                    </li>
                    <li ng-show='!currentUser'>
                        <a href="/user/login">
                            <i class="material-icons left">perm_identity</i>Login</a>
                    </li>
                    <div ng-show='currentUser'>
                        <li>
                            <a href="/user/{{currentUser}}">
                                <i class="material-icons left">perm_identity</i>{{currentUser.identity.firstName}}</a>
                        </li>
                        <li>
                            <a href="/messages">
                                <i class="material-icons left">mail</i>Messagerie</a>
                        </li>
                        <li>
                            <a ng-click="logout()">Logout</a>
                        </li>
                    </div>
                </ul>
            </div>
            <script type="text/javascript">
                $(".button-collapse").sideNav();
            </script>
        </nav>
    </div>
</header>
