<header>
    <div class="navbar-fixed">

        <nav class="navTop">
            <a href="#/" class="brand-logo"><img src="assets/blud_logo.png" width="187px"/></a>
            <div class="nav-wrapper">
                <a href="#" data-activates="nav-mobile" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="left hide-on-med-and-down" ng-controller='globalUserController' style='padding-left: 200px;'>
                    <li>
                        <a href="#/search">
                            <i class="material-icons">search</i>
                        </a>
                    </li>
                    <li>
                        <a href="#/creation/place">
                            <i class='material-icons left'>add</i>
                            Hébergement
                        </a>
                    </li>
                    <li>
                        <a href="#/creation/spot">
                            <i class='material-icons left'>add</i>
                            Spot
                        </a>
                    </li>
                </ul>
                <ul class="right hide-on-med-and-down" ng-controller='globalUserController'>
                    <li>
                        <a href="#">
                            <i class="material-icons left">book</i>Blog</a>
                    </li>
                    <li ng-hide='currentUser._id'>
                        <a href="#/user/login">
                            <i class="material-icons left">perm_identity</i>Login</a>
                    </li>
                    <li ng-show='currentUser._id'>
                        <a href="#/user/{{currentUser._id}}">
                            <i class="material-icons left">perm_identity</i>{{currentUser.identity.firstName}}</a>
                    </li>
                    <li ng-show='currentUser._id'>
                        <a href="#/messages">
                            <i class="material-icons left">mail</i>Messagerie</a>
                    </li>
                    <li ng-show='currentUser._id'>
                        <a href="#/user/logout">Logout</a>
                    </li>
                </ul>
                <ul id="nav-mobile" class="side-nav" ng-controller='globalUserController'>
                    <li>
                        <a href="#/">
                            <i class="material-icons left">home</i>hobbnb</a>
                    </li>
                    <li>
                        <a href="#/search">
                            <i class="material-icons left">search</i>Rechercher</a>
                    </li>
                    <li>
                        <a href="#/creation/place">
                            <i class='material-icons left'>add</i>
                            Hébergement
                        </a>
                    </li>
                    <li>
                        <a href="#/creation/spot">
                            <i class='material-icons left'>add</i>
                            Spot
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="material-icons left">book</i>Blog</a>
                    </li>
                    <li ng-hide='currentUser._id'>
                        <a href="#/user/login">
                            <i class="material-icons left">perm_identity</i>Login</a>
                    </li>
                    <li ng-show='currentUser._id'>
                        <a href="#/user/{{currentUser._id}}">
                            <i class="material-icons left">perm_identity</i>{{currentUser.identity.firstName}}</a>
                    </li>
                    <li ng-show='currentUser._id'>
                        <a href="#/messages">
                            <i class="material-icons left">mail</i>Messagerie</a>
                    </li>
                    <li ng-show='currentUser._id'>
                        <a href="#/user/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <script type="text/javascript">
                $(".button-collapse").sideNav();
            </script>
        </nav>
    </div>
</header>
