<h1>ADMINISTRATION</h1>
<div class='row'>
    <h2>Temoignages</h2>
    <input type="hidden" ng-model='message.$index'>
    <div class="col s12 m4">
        <div class="input-field">
            <input id="obj.photo1" type="text" ng-model='message.photo1'>
            <label for="obj.photo1">La photo 1</label>
        </div>
        <img src="{{message.photo1}}" class="circle"/>
        <div class="input-field">
            <input id="obj.title1" type="text" ng-model='message.title1'>
            <label for="obj.title1">le titre 1</label>
        </div>
        <div class="input-field">
            <textarea id="obj.comment1" ng-model='message.comment1' class="materialize-textarea"></textarea>
            <label for="obj.comment1">Le commentaire 1</label>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="input-field">
            <input id="obj.photo2" type="text" ng-model='message.photo2'>
            <label for="obj.photo2">La photo 2</label>
        </div>
        <img src="{{message.photo2}}" class="circle"/>
        <div class="input-field">
            <input id="obj.title2" type="text" ng-model='message.title2'>
            <label for="obj.title2">le titre 2</label>
        </div>
        <div class="input-field">
            <textarea id="obj.comment2" ng-model='message.comment2' class="materialize-textarea"></textarea>
            <label for="obj.comment2">Le commentaire 2</label>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="input-field">
            <input id="obj.photo3" type="text" ng-model='message.photo3'>
            <label for="obj.photo3">La photo 3</label>
        </div>
        <img src="{{message.photo3}}" class="circle"/>
        <div class="input-field">
            <input id="obj.title3" type="text" ng-model='message.title3'>
            <label for="obj.title3">le titre 3</label>
        </div>
        <div class="input-field">
            <textarea id="obj.comment3" ng-model='message.comment3' class="materialize-textarea"></textarea>
            <label for="obj.comment3">Le commentaire 3</label>
        </div>
    </div>
</div>
<div class="row">
    <button class="waves-effect waves-light blue lighten-2 white-text btn right" ng-click='send()'>
        Enregistrer
        <i class='material-icons right'>add</i>
    </button>
    <br>
</div>
<hr>
<div class="row">
    <h2>Liste des places</h2>
    <table>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nom
            </th>
            <th>
                Modifier
            </th>
        </tr>
        <tr ng-repeat='o in places track by $index'>
            <td>
                {{o._id}}
            </td>
            <td>
                {{o.name}}
            </td>
            <td>
                <a href="/edition/place/{{o._id}}">Modifier</a>
            </td>
        </tr>
    </table>
</div>
<hr>
<div class="row">
    <h2>Liste des spots</h2>
    <table>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nom
            </th>
            <th>
                Modifier
            </th>
        </tr>
        <tr ng-repeat='o in spots track by $index'>
            <td>
                {{o._id}}
            </td>
            <td>
                {{o.name}}
            </td>
            <td>
                <a href="/edition/spot/{{o._id}}">Modifier</a>
            </td>
        </tr>
    </table>
</div>
<hr>
<div class="row">
    <h2>Liste des messages</h2>
    <table>
        <tr>
            <th>
                ID
            </th>
            <th>
                Message
            </th>
            <th>
                Modifier
            </th>
        </tr>
        <tr ng-repeat='o in messages track by $index'>
            <td>
                {{o._id}}
            </td>
            <td class='truncate'>
                {{o.message}}
            </td>
            <td>
                <a href="/messages/{{o._id}}">Consulter</a>
            </td>
        </tr>
    </table>
</div>
<hr>
