<div class="container">
    <h2>Temoignages</h2>
    <div class="row">
        <input type="hidden" ng-model='message.$index'>
        <div class="col s12 m4">
            <div class="input-field">
                <input id="obj.photo1" type="text" ng-model='message.photo1'>
                <label for="obj.photo1">La photo 1</label>
            </div>
            <div class="input-field">
                <input id="obj.title1" type="text" ng-model='message.title1'>
                <label for="obj.title1">le titre 1</label>
            </div>
            <div class="input-field">
                <textarea id="obj.comment1" ng-model='message.comment1'></textarea>
                <label for="obj.comment1">Le commentaire 1</label>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="input-field">
                <input id="obj.photo2" type="text" ng-model='message.photo2'>
                <label for="obj.photo2">La photo 2</label>
            </div>
            <div class="input-field">
                <input id="obj.title2" type="text" ng-model='message.title2'>
                <label for="obj.title2">le titre 2</label>
            </div>
            <div class="input-field">
                <textarea id="obj.comment2" ng-model='message.comment2'></textarea>
                <label for="obj.comment2">Le commentaire 2</label>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="input-field">
                <input id="obj.photo3" type="text" ng-model='message.photo3'>
                <label for="obj.photo3">La photo 3</label>
            </div>
            <div class="input-field">
                <input id="obj.title3" type="text" ng-model='message.title3'>
                <label for="obj.title3">le titre 3</label>
            </div>
            <div class="input-field">
                <textarea id="obj.comment3" ng-model='message.comment3'></textarea>
                <label for="obj.comment3">Le commentaire 3</label>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="waves-effect waves-light blue lighten-2 white-text btn right" ng-click='send()'>
            Enregistrer <i class='material-icons right'>add</i>
        </button>
        <br>
    </div>
</div>
