<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Picture Upload</title>
    </head>
    <body>
        <h1>Picture Upload</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                  <form action="/picture" enctype="multipart/form-data" method="post">
                      <fieldset>
                        <div class="input-field">
                            Add a title:
                            <input name="title" type="text"/>
                            width:
                            <input name="width" type="text"/>
                            height:
                            <input name="height" type="text"/>
                        </div>
                        <!-- <div class="input-field">
                            <input multiple="multiple" name="upload" type="file"/>
                        </div><br> -->
                        <div class="input-field">
                          <input multiple="multiple" name="upload" type="file" data-file="param.file"/>
                        </div>
                        <div class="input-field">
                            <input type="submit" value="Upload" class="btn btn-info"/>
                        </div>
                     </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
