<div class="row">
    <div class="col s12">
        <div style='background-image:url("{{host.picture}}");' class='bg-fullwidth'></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m8">
            <div class="row card-panel valign-wrapper">
                <div class="col s4 m3">
                    <div class='valign center-align'>
                        <img src="assets/places/user-pic.jpg" alt="Tom" class='circle responsive-img'/>
                        <br/>
                        <b>Thomas</b>
                        <p>
                            <span class="center-align grey-text lighten-5" style='font-size:12px;'>4.6 / 12 reviews<br/>Rookie</span>
                        </p>
                        <img src="assets/places/shaka.png" alt="Sh" class="responsive-img" style='max-width:20px;margin:8px;'/>
                    </div>
                </div>
                <div class="col s8 m9">
                    <h4>{{host.houseListing.title}}</h4>
                    <h5>{{host.houseListing.state}}, {{host.houseListing.country}}</h5>
                    <div class='row'>
                        <div class="col s12">
                            <i class="small material-icons yellow-text text-darken-2">star star star</i>
                            <i class="small material-icons yellow-text text-lighten-2">star star</i>
                            <sup>(27)</sup>
                        </div>
                    </div>
                    <div class="row center-align">
                        <div class="col m2 l1">
                            &nbsp;
                        </div>
                        <div class="col m4 l2">
                            <i class="medium material-icons">pool</i><br/>
                            Hobby
                        </div>
                        <div class="col m4 l2">
                            <i class="medium material-icons">home</i><br/>
                            Entire house
                        </div>
                        <div class="col m4 l2">
                            <i class="medium material-icons">person</i><br/>
                            6 travellers
                        </div>
                        <div class="col m4 l2">
                            <i class="medium material-icons">donut_small</i><br/>
                            3 rooms
                        </div>
                        <div class="col m4 l2">
                            <i class="medium material-icons">hotel</i><br/>
                            4 beds
                        </div>
                    </div>
                </div>
            </div>
            <div class="row card-panel grey lighten-5">
                <div class="col s12">
                    <h5>A propos</h5>
                    <p class='flow-text'>
                        Aliqua aute anim culpa occaecat irure duis ut. Consequat cupidatat ex elit eiusmod ea ut culpa fugiat adipisicing nisi eu mollit occaecat occaecat dolore dolor. Pariatur ullamco aliqua magna minim enim esse labore reprehenderit laborum.
                    </p>
                    <a href="#">Contacter l'hébergeur</a>
                    <div class="divider"></div>
                    <div class='row'>
                        <div class="col m4 l2">
                            The space
                        </div>
                        <div class="col m8 l5">
                            <ul>
                                <li>Accommodates : 6</li>
                                <li>Bathrooms : 3</li>
                                <li>Bedrooms : 3</li>
                                <li>Beds : 4</li>
                            </ul>
                        </div>
                        <div class="col m8 l5">
                            <ul>
                                <li>Property type : Entire house</li>
                                <li>Check In : 2:00PM</li>
                                <li>Check Out : 11:00AM</li>
                                <li>
                                    <a href='#'>House rules</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class='row'>
                        <div class="col m4 l2">
                            The hobbies
                        </div>
                        <div class="col m8 l5">
                            <b class="center">Best for</b><br/>
                            <i class="medium material-icons left">pool</i>
                            Sea at 1km<br/>
                            <a href="#">Show spot nearly</a>

                        </div>
                        <div class="col m8 l5">
                            <b class="center">Also great for</b><br/>
                            <i class="small material-icons left">photo</i>
                            Panorama at 0.2km<br/><br/>
                            <i class="small material-icons left">nature_people</i>
                            Hiking at 0.8km
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class='row'>
                        <div class="col m4 l2">
                            Amenities
                        </div>
                        <div class="col m8 l5">
                            <ul>
                                <li>Kitchen</li>
                                <li>TV</li>
                                <li>BBQ</li>
                            </ul>
                        </div>
                        <div class="col m8 l5">
                            <ul>
                                <li>WIFI</li>
                                <li>Essentials</li>
                                <li>
                                    <a href="#">More</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class='row'>
                        <div class="col m4 l2">
                            Prices
                        </div>
                        <div class="col m8 l5">
                            <ul>
                                <li>Extra baby bed:
                                    <b>14€ / night</b>
                                </li>
                                <li>Cleaning Fee:
                                    <b>120€</b>
                                </li>
                                <li>Security Deposit:
                                    <b>185€</b>
                                </li>
                            </ul>
                        </div>
                        <div class="col m8 l5">
                            <ul>
                                <li>Weekly discount:
                                    <b>0%</b>
                                </li>
                                <li>Monthly discount:
                                    <b>50%</b>
                                </li>
                                <li>Cancellation:
                                    <a href='#'>Strict</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class='row'>
                        <div class="col m4 l2">
                            Description
                        </div>
                        <div class="col m8 l10">
                            <b class='center'>The space</b><br/>
                            <p>Veniam duis id eu minim exercitation Lorem id amet cupidatat occaecat. Labore eiusmod fugiat qui eiusmod pariatur laboris enim nisi enim aliqua. Pariatur dolor amet dolor ipsum reprehenderit officia mollit eu nisi velit quis irure quis ex officia.
                                Ipsum anim veniam minim id qui laboris exercitation nostrud elit.</p>
                            <a href="#">More</a>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class='row'>
                        <div class="col m4 l2">
                            Availibility
                        </div>
                        <div class="col m8 l10">
                            <b>2 nights minimum stay</b>
                            <span class='right'>
                                <a href="#">View Calendar</a>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <img materialboxed class="materialboxed responsive-img" src="assets/places/pool.gif">
                        </div>
                        <div class="col s6">
                            <img materialboxed class="materialboxed responsive-img" src="assets/places/pool4.JPG">
                        </div>
                        <div class="col s6">
                            <img materialboxed class="materialboxed responsive-img" src="assets/places/pool2.jpg">
                        </div>
                        <div class="col s6">
                            <img materialboxed class="materialboxed responsive-img" src="assets/places/pool3.jpg">
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col s4">
                            <div class="right-align">
                                <b>11 Reviews</b><br/>
                                <i class="small material-icons yellow-text text-darken-2">star star star</i>
                                <i class="small material-icons yellow-text text-lighten-2">star star</i>
                            </div>
                        </div>
                        <div class="col s8">
                            <p class="center-align">More than 95% of hobbynauts recommend this place</p>
                            <div class="row">
                                <div class="col s4 center">
                                    Cleaness<br/>
                                    <i class="tiny material-icons yellow-text text-darken-2">star star star</i>
                                    <i class="tiny material-icons yellow-text text-lighten-2">star star</i>
                                </div>
                                <div class="col s4 center">
                                    Location<br/>
                                    <i class="tiny material-icons yellow-text text-darken-2">star star star star</i>
                                    <i class="tiny material-icons yellow-text text-lighten-2">star</i>
                                </div>
                                <div class="col s4 center">
                                    Value for money<br/>
                                    <i class="tiny material-icons yellow-text text-darken-2">star star</i>
                                    <i class="tiny material-icons yellow-text text-lighten-2">star star star</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">

                        <div class="col s10 offset-s1">
                            <div class="card-panel grey lighten-5 z-depth-1">
                                <div class="row valign-wrapper">
                                    <div class="col s2 center">
                                        <img src="assets/places/user-pic.jpg" alt="" class="circle responsive-img">
                                        <br>
                                        <b>Benoît</b>
                                        <br>
                                        Rookie
                                    </div>
                                    <div class="col s10">
                                        <span class="black-text">
                                            <b>Superb landscape !</b>
                                            <br>
                                            Sed fruatur sane hoc solacio atque hanc insignem ignominiam, quoniam uni praeter se inusta sit, putet esse leviorem, dum modo, cuius exemplo se consolatur.<br>
                                            <a href="#">+ more</a>
                                            <button class='waves-effect waves-light grey lighten-2 black-text btn right'>
                                                <i class='tiny material-icons black-text text-lighten-2 left'>thumb_up</i>
                                                Thanks
                                                <b>3</b>
                                            </button>
                                            <br>March 2016
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s10 offset-s1">
                            <div class="card-panel grey lighten-5 z-depth-1">
                                <div class="row valign-wrapper">
                                    <div class="col s2 center">
                                        <img src="assets/places/user-pic.jpg" alt="" class="circle responsive-img">
                                        <br>
                                        <b>Benoît</b>
                                        <br>
                                        Rookie
                                    </div>
                                    <div class="col s10">
                                        <span class="black-text">
                                            <b>Superb landscape !</b>
                                            <br>
                                            Sed fruatur sane hoc solacio atque hanc insignem ignominiam, quoniam uni praeter se inusta sit, putet esse leviorem, dum modo, cuius exemplo se consolatur.<br>
                                            <a href="#">+ more</a>
                                            <button class='waves-effect waves-light grey lighten-2 black-text btn right'>
                                                <i class='tiny material-icons black-text text-lighten-2 left'>thumb_up</i>
                                                Thanks
                                                <b>3</b>
                                            </button>
                                            <br>March 2016
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col s4 center valign">
                            <b>About this author</b>
                            <br>
                            <br>
                            <img src="assets/places/user-pic.jpg" alt="Tom" class='circle responsive-img'/>
                            <br>
                            <p>
                                <span class="center-align grey-text lighten-5" style='font-size:12px;'>4.6 / 12 reviews<br/>Rookie</span>
                            </p>
                            <img src="assets/places/shaka.png" alt="Sh" class="responsive-img" style='max-width:20px;margin:8px;'/>

                        </div>
                        <div class="col s8">
                            <b>Thomas</b>
                            <br>
                            <p>Tempor culpa velit reprehenderit labore tempor minim tempor deserunt enim duis enim culpa ad nostrud laborum excepteur. Reprehenderit reprehenderit ut laborum voluptate magna et ut. Amet excepteur incididunt velit id dolore ut veniam laborum ut
                                ullamco aliqua dolor irure irure veniam incididunt est.</p>
                            <br>
                            <p>
                                Hobbies:
                                <b>3</b>
                                Home listings:
                                <b>4</b>
                                <a href="#">+ more</a>
                            </p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col s10 offset-s1">
                            <b>Location</b>
                            <br>#GMAPS
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 center grey lighten-2 flow-text">40 € / night</div>
                    <div class="input-field col s4">
                        <input
                            input-date
                            type="text"
                            name="arrival"
                            id="arrival"
                            ng-model="arrival"
                            container="body"
                            format="dd/mm/yyyy"
                            months-full="{{ month }}"
                            months-short="{{ monthShort }}"
                            weekdays-full="{{ weekdaysFull }}"
                            weekdays-short="{{ weekdaysShort }}"
                            weekdays-letter="{{ weekdaysLetter }}"
                            disable="disable"
                            min="{{ minDate }}"
                            max="{{ maxDate }}"
                            today="today"
                            clear="clear"
                            close="close"
                            select-years="15">
                    </div>
                    <div class="input-field col s4">
                        <input
                            input-date
                            type="text"
                            name="departure"
                            id="departure"
                            ng-model="departure"
                            container="body"
                            format="dd/mm/yyyy"
                            months-full="{{ month }}"
                            months-short="{{ monthShort }}"
                            weekdays-full="{{ weekdaysFull }}"
                            weekdays-short="{{ weekdaysShort }}"
                            weekdays-letter="{{ weekdaysLetter }}"
                            disable="disable"
                            min="{{ minDateD }}"
                            max="{{ maxDateD }}"
                            today="today"
                            clear="clear"
                            close="close"
                            select-years="15">
                    </div>
                    <div class="input-field col s4">
                        <input placeholder="Guests" id="guests" type="number">
                    </div>
                    <div class="col s12 center">
                        <button class="btn waves-effect waves-light green lighten-2">Request to book entire place</button>
                    </div>
                    <div class="col s12">
                        <br><br>
                    </div>
                    <div class="col s12 center">
                        Or share with other people
                    </div>
                    <hr>
                    <div class="col s12">
                        <div class="row valign-wrapper">
                            <div class="col s2 center">
                                <img src="assets/places/user-pic.jpg" alt="" class="circle responsive-img">
                            </div>
                            <div class="col s10">
                                <span class="black-text">
                                    <b>Benoît</b>
                                    <span class='right'>4.7 / 52 reviews</span><br>
                                    <span class='grey-text'>Sed fruatur sane hoc solacio atque hanc insignem ignominiam, quoniam uni
                                        <a href="#">more...</a>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="row valign-wrapper">
                            <div class="col s2 center">
                                <img src="assets/places/user-pic.jpg" alt="" class="circle responsive-img">
                            </div>
                            <div class="col s10">
                                <span class="black-text">
                                    <b>Benoît</b>
                                    <span class='right'>4.7 / 52 reviews</span><br>
                                    <span class='grey-text'>Sed fruatur sane hoc solacio atque hanc insignem ignominiam, quoniam uni
                                        <a href="#">more...</a>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col s2">
                        <p class='flow-text center'>
                            2
                            <i class='small material-icons text-grey text-lighten-2'>hotel</i>
                        </p>
                    </div>
                    <div class="col s10">
                        <p class='flow-text'>
                            beds still available
                        </p>
                        <div style='margin-top:-20px;'>Take an option now and confirm only once the place is booked out
                            <a href='#'>more...</a>
                        </div>
                    </div>
                    <div class="col s12 center">
                        <button class="btn waves-effect waves-light blue">Join in and take an option too</button>
                    </div>
                    <div class="col s12">
                        <br>
                    </div>
                    <div class="col s12 center">
                        <a href="#">Or find out more about options</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 center">
                        <p class='flow-text'>
                            <button class='btn waves-effect grey text-black lighten-1'>
                                <i class='large material-icons text-grey text-lighten-2'>favorite</i>&nbsp; Add to Wishlist
                            </button>
                        </p>
                        62 hobbinauts saved this place
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
