<div class="row" style="position: relative; min-height: 75vh; margin: 0 !important;">
    <div class="col s6 search-left-col">
        <form>
            <div class="row">
                <div class="col s12 m12 l6">
                    <div class="table-wrapper">
                        <a href="/searchSpot" class="custom-btn sharp active">
                            <img src="/assets/search/locateSpot.png" style='height:80%; width: auto;'/>
                            <span class="grey-text text-darken-2">Spots</span>
                        </a>
                    </div>
                </div>
                <div class="col s12 m12 l6">
                    <div class="table-wrapper">
                        <a href="/search" class="custom-btn sharp">
                            <img src="/assets/search/locateHost.png" style='height:80%; width: auto;'/>
                            <span class="grey-text text-darken-2">Hébergements</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row no-margin">
                <div class="input-field col s12 m12 l6">
                    <i class="material-icons prefix">search</i>
                    <input placeholder="Lieu" id="city" type="text" class="autocomplete" ng-model="locality" details="details" ng-autocomplete>
                    <label>Lieu</label>
                </div>
                <div class="input-field col s12 m12 l3">
                    <select class='' material-select ng-change="hobbyToData()" ng-model="filters.primarySports">
                        <option value=''>Hobbies</option>
                        <option data-icon="./assets/hobbies/{{hobby}}.png" class="left" ng-repeat="hobby in hobbiesListing">{{hobby}}</option>
                    </select>
                    <label>Hobby</label>
                </div>
                <div class="input-field col s12 m12 l3">
                    <span style="color: #9e9e9e; font-size: 1rem; font-family: Roboto, Helvetica Neue ,sans-serif;">Popularité</span>
                    <star-rating ng-model="filters.rating.popularity" on-rating-select=""></star-rating>
                </div>
            </div>
            <div class="row no-margin">
                <div class="input-field col s12 m12 l3">
                    <span style="color: #9e9e9e; font-size: 1rem; font-family: Roboto, Helvetica Neue ,sans-serif;">Qualité</span>
                    <star-rating ng-model="filters.rating.quality" on-rating-select=""></star-rating>
                </div>
                <div class="input-field col s12 m12 l3">
                    <span style="color: #9e9e9e; font-size: 1rem; font-family: Roboto, Helvetica Neue ,sans-serif;">Beauté</span>
                    <star-rating ng-model="filters.rating.beauty" on-rating-select=""></star-rating>
                </div>
                <div class="input-field col s12 m12 l3">
                    <span style="color: #9e9e9e; font-size: 1rem; font-family: Roboto, Helvetica Neue ,sans-serif;">Facilité</span>
                    <star-rating ng-model="filters.rating.accessibility" on-rating-select=""></star-rating>
                </div>
                <div class="input-field col s12 m12 l3">
                    <span style="color: #9e9e9e; font-size: 1rem; font-family: Roboto, Helvetica Neue ,sans-serif;">Note</span>
                    <star-rating ng-model="filters.rating.overallRating" on-rating-select=""></star-rating>
                </div>
            </div>
        </form>
        <div id="widgets" class="row">
            <div class="col s12 m12 l6" dir-paginate="p in positions | filter : filters | betweenLat:latitude.min:latitude.max | betweenLon:longitude.min:longitude.max | itemsPerPage: 8">
                <a href="/spot/{{p._id}}" target="_blank">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img ng-src="uploads/spots/{{p._id}}/thumb/img_{{p.pictures[0]}}">
                        </div>
                        <div class="card-content">
                            <p>
                                <img class="actpict" ng-src="assets/hobbies/{{p.primarySports}}.png" alt=""/>
                                <img class="authorpict" src="/assets/hobbynaut-avatar.gif" ng-show="!p.owner.picture"/>
                                <img class="authorpict" ng-src="/uploads/users/{{p.owner._id}}/thumb/img_{{p.owner.picture}}" ng-show="p.owner.picture"/>
                                <div>{{p.name}}</div>
                                <div>
                                    <star-rating ng-model="p.rating.valueForMoney" readonly="true"></star-rating>
                                    <sup>({{nbReview(p.rating)}})</sup>
                                </div>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <dir-pagination-controls></dir-pagination-controls>
        </div>
    </div>

    <div class="col s6 search-rigth-col">
        <ng-map default-style="false" center="{{centerMap}}" geo-fallback-center="48.8534100, 2.3488000" zoom="6" id="myMap" style='height:100%;'>
            <marker
                ng-repeat="p in positions | filter : filters | betweenLat:latitude.min:latitude.max | betweenLon:longitude.min:longitude.max | itemsPerPage: 8"
                position="[{{p.latitude}},{{p.longitude}}]"
                title={{p.name}}
                icon="{
                      url:'assets/search/tile{{p.primarySports}}.png',
                      scaledSize:[32,32],
                      origin: [0,0],
                      anchor: [16,32]
                      }"
                on-click="toggleInfoWindow(event, p)"
                clickable="true"></marker>
            <info-window id="popup" max-width="200">
                <a href="/spot/{{toggleledSpot._id}}" target="_blank">
                    <div class="card">
                        <div class="card-image">
                            <img ng-src="/uploads/spots/{{toggleledSpot._id}}/thumb/img_{{toggleledSpot.pictures[0]}}">
                        </div>
                        <div class="card-content">
                            <p>
                                <div>{{toggleledSpot.name}}</div>
                                <div>
                                    <star-rating ng-model="toggleledSpot.rating.overallRating" readonly="true"></star-rating>
                                    <sup>({{reviewNb}})</sup>
                                </div>
                            </p>
                        </div>
                    </div>
                </a>
            </info-window>
        </ng-map>
    </div>
</div>
