<div class="row" id="myMap">
  <div class="grid-example col s12 m6">
    <div class="row">
      <div class="input-field col s6">
        <a class="waves-effect waves-light btn" ng-click="spotOrHome(false)" Id="btnSpot">
        <img src="../assets/search/locateSpot.png" alt="" />
        <span class="grey-text text-darken-2">Spots</span></a>
      </div>
      <div class="input-field col s6" >
        <a class="waves-effect waves-light btn" ng-click="spotOrHome(true)" Id="btnHome">
        <img src="../assets/search/locateHost.png" alt="" />
        <span class="grey-text text-darken-2">Hebergement</span> </a>
      </div>
    </div>
    <form class="row">
      <div class="input-field col s12 m9">
        <select>
          <option value="" disabled selected ng-model="formHobby" ng-change="changeHobby()">Choisir le hobby</option>
          <option value="1">Surf</option>
          <option value="2">Kitesurf</option>
          <option value="3">Ski</option>
          <option value="4">Kayak</option>
          <option value="5">Vélo</option>
          <option value="6">Equitation</option>
          <option value="7">Pêche</option>
          <option value="8">Parrapente</option>
          <option value="9">Randonnée</option>
        </select>
        <label>Hobby</label>
      </div>
      <div class="input-field col s12 m3">
        <select>
          <option value="" disabled selected>Popularité</option>
          <option value="1">+ de 100</option>
          <option value="2">50 à 100</option>
          <option value="3">10 à 50</option>
          <option value="4">- de 10</option>
          <option value="5">aucun</option>
        </select>
        <label>Popularité</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">search</i>
        <input placeholder="Lieu" id="city" type="text" class="validate" ng-model="formPlace" ng-change="changePlace()">
        <label>Lieu</label>
      </div>
      <div class="input-field col s6 m3">
        <select>
          <option value="" disabled selected>Quality</option>
          <option value="5">5 étoiles</option>
          <option value="4">4 étoiles</option>
          <option value="3">3 étoiles</option>
          <option value="2">2 étoiles</option>
          <option value="1">1 étoiles</option>
          <option value="0">aucun</option>
        </select>
        <label>Quality</label>
      </div>
      <div class="input-field col s6 m3">
        <select>
          <option value="" disabled selected>Beauty</option>
          <option value="5">5 étoiles</option>
          <option value="4">4 étoiles</option>
          <option value="3">3 étoiles</option>
          <option value="2">2 étoiles</option>
          <option value="1">1 étoiles</option>
          <option value="0">aucun</option>
        </select>
        <label>Beauty</label>
      </div>
      <div class="input-field col s6 m3">
        <select>
          <option value="" disabled selected>Facility</option>
          <option value="5">5 étoiles</option>
          <option value="4">4 étoiles</option>
          <option value="3">3 étoiles</option>
          <option value="2">2 étoiles</option>
          <option value="1">1 étoiles</option>
          <option value="0">aucun</option>
        </select>
        <label>Facility</label>
      </div>
      <div class="input-field col s6 m3">
        <select>
          <option value="" disabled selected>Over all rating</option>
          <option value="5">5 étoiles</option>
          <option value="4">4 étoiles</option>
          <option value="3">3 étoiles</option>
          <option value="2">2 étoiles</option>
          <option value="1">1 étoiles</option>
          <option value="0">aucun</option>
        </select>
        <label>Over all rating</label>
      </div>
    </form>
  </div>


<!-- Panneau de droite = carte -->
  <div class="grid-example col s12 m6">
    <ng-map default-style="false" center={{centerMap}} zoom="8" id="myMap">
        <marker ng-repeat="p in positions"
            position="[{{p.latitude}},{{p.longitude}}]"
            title={{p.shortDescription}}
            icon="{
            url:'../assets/search/tileHome.png',
            scaledSize:[42,45],
            origin: [0,0],
            anchor: [21,45]
            }"
            on-click="map.showInfoWindow(event, 'popup')"
            shortDescription="{{p.shortDescription}}"
            clickable="true"></marker>
        <info-window id="popup" max-width="200">
          <div class="card hoverable" ng-non-bindable="">
            <div class="card-image">
              <img class="placepict" src="../assets/widget/chalet.jpg">
              <span class="card-title">57€</span>
            </div>
            <div class="card-content">
              <p>
                <div>{{this}}</div>
                <div>
                  <i class="tiny material-icons yellow-text text-darken-2">star star star star star</i>
                  <sup>({{$index}})</sup>
                </div>
              </p>
            </div>
          </div>
        </info-window>
    </ng-map>
  </div>

<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });
</script>
