<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
     <link rel="stylesheet" href="../css/widget.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <!-- Compiled and minified JavaScript -->
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <title></title>
  </head>
  <body>
    <div class="row">
      <div class="col s12 m4">
        <div class="card hoverable">
          <div class="card-image">
            <div class="slider">
              <ul class="slides">
                <li>
                  <img class="placepict" src="../assets/widget/chalet.jpg">
                </li>
                <li>
                  <img class="placepict" src="../assets/widget/chalet1.jpg">
                </li>
                <li>
                  <img class="placepict" src="../assets/widget/chalet2.jpg">
                </li>
              </ul>
            </div>
            <span class="card-title">57€</span>
          </div>
          <div class="card-content">
            <p>
              <img class="actpict" src="../assets/widget/bike2.svg" alt="" />

              <img class="authorpict" src="../assets/widget/portrait.jpg" alt="" />
              <div>Dream Chalet in the Mercantour</div>
              <div>
                 <i class="small material-icons yellow-text text-darken-2">star star star star star</i>
                 <sup>(18)</sup>
              </div>

            </p>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.slider').slider({full_width: true});
      });
    </script>
  </body>
</html>
