#myMap { height: 500px; }
#floating-panel {
  position: absolute;
  top: 80px;
  left: 75%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#btnSpot, #btnHome{
  display: block;
  width: 100%;}

/* Style popup */
#popup .card-image{
  height: 80px;
  overflow: hidden;
  vertical-align: middle;
  z-index: 5;
}
#popup .placepict{
  width:120px;
}
#popup .card-content div{
  width:150px;
}
#popup .card-image .card-title {
  background-color: rgba(100,100,100,0.5);
  padding:2px;
}

.btn img{
  height: 32px;
  vertical-align:middle;
}
