<div class="container">
    <div class=" card-panel">
        <div class="row">
            <div class="col s8 offset-s2">
                <h2>Messages reçus</h2>
                <div class="collection">
                    <a ng-repeat='msg in msgs' href="#/messages/{{msg._id}}" class="collection-item">{{msg.message}}
                        <span class="badge">{{msg.creation}}</span>
                    </a>
                    <a ng-hide='msgs && msgs.length > 0' href="#/messages" class="collection-item">Vous n'avez aucun message</a>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s8 offset-s2">
                <h2>Messages envoyés</h2>
                <div class="collection">
                    <a ng-repeat='msg in sndMsgs' href="#/messages/{{msg._id}}" class="collection-item">{{msg.message}}
                        <span class="badge">{{msg.creation}}</span>
                    </a>
                    <a ng-hide='msgs && msgs.length > 0' href="#/messages" class="collection-item">Vous n'avez aucun message</a>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s8 offset-s2">
                <h2>Envoyer un message</h2>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="first_name" ng-model='newMsg.sender' type="text">
                        <label for="first_name">Id expediteur</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="dest" ng-model='newMsg.recipient' type="text">
                        <label for="dest">Id destinataire</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mail</i>
                        <input id="msg" ng-model='newMsg.message' type="text">
                        <label for="msg">Message</label>
                    </div>
                </div>
                <button type="button" ng-click='sendMsg()' class='right btn btn-large blue lighten-2 waves-effect waves-light'>Envoyer</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
