<div class="container">
    <div class=" card-panel">
        <div class="row">
            <h2>Message de
                {{msg.sender}}
                à
                {{msg.recipient}}</h2>
            <div class="row">
                <div class="col s8 offset-s2" ng-bind-html='nl2br(msg.message)'></div>
            </div>
            <div class="divider"></div>
            <div class='right-align'>Envoyé le
                {{format(msg.creation)}}</div>
        </div>

        <div class="row">
            <div class="col s8 offset-s2">
                <h2>Répondre</h2>
                <div class="row" style='display:none;'>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="first_name" ng-model='newMsg.sender' type="text">
                        <label for="first_name">Id expediteur</label>
                    </div>
                </div>
                <div class="row" style='display:none;'>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="dest" ng-model='newMsg.recipient' type="text">
                        <label for="dest">Id destinataire</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mail</i>
                        <textarea id="msg" ng-model='newMsg.message' class="materialize-textarea"></textarea>
                        <label for="msg">Message</label>
                    </div>
                </div>
                <button type="button" ng-click='sendMsg()' class='right btn btn-large blue lighten-2 waves-effect waves-light'>Envoyer</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
