<div class="container">
    <div class="card-panel">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h1>Création d'un hébergement</h1>
                </div>
            </div>
            <div ng-show='step==1'>
                <form name="addPlaceForm" class="hobbnb-font" novalidate>
                    <div class='row'>
                        <div class="range-field">
                            <input type="range" min="1" max="2" value='1' disabled id='slider'/>
                            <label for="slider">Etape 1/2</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s9">
                            <input id="obj.name" type="text" ng-model='obj.name' name="placeName" required>
                            <label for="obj.name">Nom de votre hébergement</label>
                            <span class="field-error" ng-show="addPlaceForm.placeName.$error.required && addPlaceForm.$submitted">Un nom est requis pour l'hébérgement.</span>
                        </div>
                        <div class="input-field col s1" ng-repeat="selectedHobby in selectedHobbies track by $index" style="padding: 0;">
                            <img src="./assets/hobbies/{{obj.hobbies[$index]}}.png" ng-click="removeHobby($index,hobby)" class="horizontal-icon-list" style="width: 100%;" ng-show="obj.hobbies[$index]"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <p class="custom-inline-label">Choisisez entre 1 et 3 hobbies à proximité de votre hébérgement</p>
                            <img src="./assets/hobbies/{{hobby}}.png" ng-repeat="hobby in hobbiesListing" ng-click="addHobby($index, hobby)" ng-style="{'width':100/hobbiesListing.length+'%'}" class="horizontal-icon-list"/>
                            <span class="field-error" ng-show="currentSelectedHobby==0 && addPlaceForm.$submitted">Renseignez au moins un hobbie à proximité de l'hébérgement.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="obj.shortDescription" class="materialize-textarea" ng-model='obj.shortDescription' name="placeshortDescription" required></textarea>
                            <label for="obj.shortDescription">Introduction, décrivez l'espace</label>
                            <span class="field-error" ng-show="addPlaceForm.placeshortDescription.$error.required && addPlaceForm.$submitted">Entrez une courte description de l'hébérgement.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8">
                            <input type="text" class="autocomplete" ng-model="address.formattedAddress" ng-autocomplete options="{types: 'geocode'}" details="details" placeholder="" name="placeAddress" required>
                            <label>Adresse:</label>
                            <span class="field-error" ng-show="!obj.address.country && addPlaceForm.$submitted">Renseignez une adresse valide pour l'hébérgement.</span>
                        </div>
                        <div class="input-field col s4">
                            <select material-select ng-model="obj.home.propertyType" name="placePropertyType" required>
                                <option value=''>Type de propriété</option>
                                <option ng-repeat="propertyType in propertyTypeListing">{{propertyType}}</option>
                            </select>
                            <span class="field-error" ng-show="addPlaceForm.placePropertyType.$error.required && addPlaceForm.$submitted">Entrez le type d'hébérgement.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="obj.home.price" type="number" ng-model='obj.home.price' name="placePrice" required>
                            <label for="obj.home.price">Prix par nuit</label>
                            <span class="field-error" ng-show="addPlaceForm.placePrice.$error.required && addPlaceForm.$submitted">Entrez un prix par nuitée.</span>
                        </div>
                        <div class="input-field col s6">
                            <input id="obj.home.travellers" type="number" ng-model='obj.home.travellers' name="placeTravellersMax" required>
                            <label for="obj.home.travellers">Nombre de hobbynotes</label>
                            <span class="field-error" ng-show="addPlaceForm.placeTravellersMax.$error.required && addPlaceForm.$submitted">Renseignez le nombre de hobbynotes pouvant être accueilli.</span>
                        </div>
                    </div>
                    <div class="row">
                        <button
                            class="btn blue white-text right"
                            ng-class="!obj.address.country || currentSelectedHobby==0 || addPlaceForm.$invalid ? 'custom-disabled' : 'waves-effect waves-light white-text'"
                            ng-click='(obj.address.country && currentSelectedHobby!=0 && addPlaceForm.$valid) ? step = 2 : $submitted = true'>
                            Suivant
                            <i class='material-icons right'>keyboard_arrow_right</i>
                        </button>
                    </div>
                </form>
            </div>
            <div ng-show='step==2'>
                <div class='row'>
                    <div class="range-field">
                        <input type="range" min="1" max="2" value='2' disabled id='slider'/>
                        <label for="slider">Etape 2/2</label>
                    </div>
                </div>
                <div class="row" ng-hide="photos.length > 11">
                    <div ngf-no-file-drop>Le Drag/Drop n'est pas suporté par votre navigateur</div>
                    <div ngf-drop ngf-select ng-model="photos" ngf-max-files="12" ngf-change="picturesLengthValidation()" class="drop-box valign-wrapper" ngf-keep="'distinct'" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="image/*" ngf-pattern="'image/*'">
                        <h5 class="valign">Glisser les photos ou cliquer ici pour uploader une photo</h5>
                    </div>
                </div>
                <p class="center-align" ng-show="infoPhotos">
                    {{infoPhotos}}
                </p>
                <div class="row no-margin">
                    <ul ui-sortable="sortableOptions" ng-model="photos" class="list left">
                        <div class="col s3 no-margin" ng-repeat="picture in photos track by $index">
                            <li class="thumbnail create">
                                <a ng-click="removePicture($index)" style="position: absolute;top: 10px;right: 10px;z-index: 100;" class="waves-effect waves-light btn-floating red">
                                    <i class="material-icons">remove</i>
                                </a>
                                <img ngf-thumbnail="picture" class="object-fit_cover">
                            </li>
                        </div>
                    </ul>
                </div>
                <div class="row" ng-show="showLoader">
                    <div class="col s12 progress">
                        <div class="determinate" style="width: {{progressPercentage}}%"></div>
                    </div>
                    <div class="col s12 center">
                        Upload {{progressPercentage}}% completé. Patientez vous allez être automatiquement rediriger.
                    </div>
                </div>
                <div class="row" ng-hide="showLoader">
                    <button class="btn waves-effect waves-light blue white-text left" ng-click='step=1'>
                        Précédent
                        <i class='material-icons left'>keyboard_arrow_left</i>
                    </button>
                    <button class="btn blue right white-text" ng-class="!valid ? 'custom-disabled' : 'waves-effect waves-light white-text'"  ng-click="valid && send()">
                        Confirmer et envoyer les photos
                        <i class='material-icons right'>keyboard_arrow_right</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
