<div class="container">
    <div class="row no-margin">
        <div style='background-image:url("uploads/places/{{host._id}}/large/{{host.pictures[0]}}");' class='bg-fullwidth'></div>
    </div>
    <div class="row no-margin">
        <div class="col s12 m8">
            <!-- main card -->
            <div class="row card-panel valign-wrapper">
                <div class="col s4 m3">
                    <div class='valign center-align'>
                        <img ng-src="{{host.owner.picture && '/uploads/users/'+host.owner._id+'/large/'+host.owner.picture || '/assets/hobbynaut-avatar.gif'}}" alt="{{host.owner.identity.firstName + ' ' + host.owner.identity.lastName}}" class='circle responsive-img'/>
                        <br/>
                        <b>{{host.owner.identity.firstName + ' ' + host.owner.identity.lastName}}</b>
                        <p>
                            <span class="center-align grey-text lighten-5" style='font-size:12px;'>
                                <star-rating ng-model="host.owner.numReviews" readonly="true"></star-rating>
                                <br/>{{host.owner.numReviews}}
                                avis</span>
                        </p>
                    </div>
                </div>
                <div class="col s8 m9">
                    <div class="right">
                        <a ng-show="host.owner._id == currentUser._id || currentUser.isAdmin" href="/edition/place/{{currentHost}}" class="btn btn-flat blue">Modifier</a>
                        <a facebook class="facebookShare" data-picture='http://hobbnb.com/uploads/places/{{host._id}}/large/{{host.picture}}' data-url='http://hobbnb.com/place/{{host._id}}' data-shares='shares'>{{ shares }}</a>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h4>{{host.name}}</h4>
                            <h5>
                                {{host.address.street_number}}
                                {{host.address.route}}<br/>
                                {{host.address.postal_code}}
                                {{host.address.locality}},
                                {{host.address.country}}</h5>
                        </div>
                    </div>
                    <div class="row center-align">
                        <div class="col m4 l2 offset-m2">
                            <img ng-src="/assets/hobbies/{{host.hobbies[0]}}.png" class='hobby-main' alt=""/><br/>
                            <span class="textIcon">{{host.hobbies[0]}}</span>
                        </div>
                        <div class="col m4 l2">
                            <i class="medium material-icons imgIcons">home</i><br/>
                            <span class="textIcon">{{host.home.propertyType}}</span>
                        </div>
                        <div class="col m4 l2">
                            <i class="medium material-icons imgIcons">person</i><br/>
                            <span class="textIcon">{{host.home.travellers}}
                                voyageurs</span>
                        </div>
                        <div class="col m4 l2">
                            <i class="medium material-icons imgIcons">donut_small</i><br/>
                            <span class="textIcon">{{host.home.rooms}}
                                pièces</span>
                        </div>
                        <div class="col m4 l2">
                            <i class="medium material-icons imgIcons">hotel</i><br/>
                            <span class="textIcon">{{host.home.beds}}
                                lits</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About -->
            <div class="row card-panel grey lighten-5">
                <h5>A propos</h5>
                <div class="row">
                    <div class="col s12">
                        <p class='flow-text'>
                            {{host.shortDescription}}
                        </p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class='row'>
                    <div class="col m4 l2">
                        L'hébergement
                    </div>
                    <div class="col m4 l4">
                        <ul>
                            <li>Capacité :
                                {{host.home.travellers}}</li>
                        </ul>
                    </div>
                    <div class="col m4 l5 offset-l1">
                        <ul>
                            <li>Type :
                                {{host.home.propertyType || "Maison"}}</li>
                        </ul>
                    </div>
                </div>
                <div class="divider"></div>
                <div class='row'>
                    <div class="col m4 l2">
                        Les hobbies
                    </div>
                    <div class="col m8 l4">
                        <b class="center">Parfait pour</b><br/>
                        <img ng-src="/assets/hobbies/{{host.hobbies[0]}}.png" class='hobby-small' alt=""/>
                        {{host.hobbies[0]}}<br/>
                    </div>
                    <div class="col m8 l6">
                        <div class="col m12 l12">
                            <b class="center">Aussi pour</b><br/>
                        </div>
                        <div class="col m6 l6">
                            <img ng-src="./assets/hobbies/{{host.hobbies[1]}}.png" class='hobby-small' ng-show="host.hobbies[1]"/>
                            {{host.hobbies[1]}}
                        </div>
                        <div class="col m6 l6">
                            <img ng-src="./assets/hobbies/{{host.hobbies[2]}}.png" class='hobby-small' ng-show="host.hobbies[2]"/>
                            {{host.hobbies[2]}}
                        </div>
                    </div>
                </div>
                <div class="row center">
                    <a href="/search">Montrer les spots à proximité</a>
                </div>
            </div>
            <!-- Comment & Rating -->
            <div class="row card-panel grey lighten-5">
                <div class="col s10 offset-s1">
                    <h5>Avis et commentaires</h5>
                    <!--rating -->
                    <div class="row">
                        <div class="col s3 center">
                            <b>{{host.rating.numberOfRatings}}
                                Avis</b><br/>
                            <star-rating ng-model="host.rating.overallRating" readonly="true"></star-rating>
                        </div>
                        <div class="col s3 center">
                            Propreté<br/>
                            <star-rating ng-model="host.rating.cleanness" readonly="true"></star-rating>
                        </div>
                        <div class="col s3 center">
                            Zone<br/>
                            <star-rating ng-model="host.rating.location" readonly="true"></star-rating>
                        </div>
                        <div class="col s3 center">
                            Monétaire<br/>
                            <star-rating ng-model="host.rating.valueForMoney" readonly="true"></star-rating>
                        </div>
                    </div>
                    <!--comments -->
                    <div class="row">
                        <div class="col s10 offset-s1" ng-repeat='comment in host.comments'>
                            <div class="card-panel grey lighten-5 z-depth-1">
                                <div class="row valign-wrapper">
                                    <div class="col s2 center">
                                        <img
                                            ng-src="{{comment.owner.picture && '/uploads/users/'+comment.owner._id+'/large/'+comment.owner.picture || '/assets/hobbynaut-avatar.gif'}}"
                                            alt="{{comment.owner.identity.firstName + ' ' + comment.owner.identity.lastName}}"
                                            class="circle responsive-img">
                                        <br>
                                        <b>{{comment.owner.identity.firstName + ' ' + comment.owner.identity.lastName}}</b>
                                    </div>
                                    <div class="col s10">
                                        <span class="black-text">
                                            <b>{{comment.title}}</b>
                                            <br>
                                            {{comment.comment}}<br>
                                            <br>{{comment.creation.substring(0,10)}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="grey lighten-5">
                                <div class="row" ng-hide='toggleComment'>
                                    <div class="col s12 center">
                                        <button class='btn green accent-2 waves-effect waves-light' ng-click='toggleComment = true'>Ajouter un commentaire</button>
                                    </div>
                                </div>
                                <div class="row" ng-show='toggleComment'>
                                    <div class="col s2 center">
                                        <img
                                            ng-src="{{currentUser.owner.picture && '/uploads/users/'+currentUser.owner._id+'/large/'+currentUser.owner.picture || '/assets/hobbynaut-avatar.gif'}}"
                                            alt="{{currentUser.owner.identity.firstName + ' ' + currentUser.owner.identity.lastName}}"
                                            class="circle responsive-img">
                                        <br>
                                        <b>{{currentUser.identity.firstName + ' ' + currentUser.identity.lastName}}</b>
                                    </div>
                                    <div class="col s10">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="title" type="text" ng-model='comment.title'>
                                                <label for="title">Titre</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <textarea id="commentaire" ng-model='comment.comment' class="materialize-textarea"></textarea>
                                                <label for="commentaire">Commentaire</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s4">
                                                <span class="custom-label">Propreté</span>
                                                <star-rating ng-model="comment.cleanness"></star-rating>
                                            </div>
                                            <div class="col s4">
                                                <span class="custom-label">Emplacement</span>
                                                <star-rating ng-model="comment.location"></star-rating>
                                            </div>
                                            <div class="col s4">
                                                <span class="custom-label">Monétaire</span>
                                                <star-rating ng-model="comment.valueForMoney"></star-rating>
                                            </div>
                                            <div class="col s12">
                                                <p class="center-align">
                                                    <button class="btn green accent-2 waves-effect waves-light" type="button" ng-click='addPlaceComment()'>Ajouter un commentaire</button>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pictures -->
            <div class="row card-panel grey lighten-5">
                <h5>Photos</h5>
                <div class="row">
                    <div class="col s6 no-margin" ng-repeat='picture in host.pictures'>
                        <div materialboxed class="thumbnail show">
                            <img class="object-fit_cover materialboxed" ng-src="/uploads/places/{{host._id}}/large/{{picture}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row card-panel grey lighten-5">
                <div class="col s10 offset-s1">
                    <h5>Alentours</h5>
                    <br>
                    <ng-map default-style="true" center="[{{host.latitude}},{{host.longitude}}]" zoom="8" scrollwheel='false'>
                        <marker
                            position="[{{host.latitude}},{{host.longitude}}]"
                            icon="{
                                      url:'../assets/search/tileHome.png',
                                      scaledSize:[42,45],
                                      origin: [0,0],
                                      anchor: [21,45]
                                      }"></marker>
                    </ng-map>
                </div>
            </div>
        </div>
        <div class="col s12 m4" style="padding-right: 0 !important;">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 center grey lighten-2 flow-text">{{host.home.price}}€ / nuit</div>
                    <div ng-controller='messageController'>

                        <div class="input-field col s4">
                            <input
                                input-date
                                type="text"
                                name="arrival"
                                id="arrival"
                                ng-model="arrival"
                                container="body"
                                format="dd/mm/yyyy"
                                months-full="{{ month }}"
                                months-short="{{ monthShort }}"
                                weekdays-full="{{ weekdaysFull }}"
                                weekdays-short="{{ weekdaysShort }}"
                                weekdays-letter="{{ weekdaysLetter }}"
                                disable="disable"
                                min="{{ minDate }}"
                                max="{{ maxDate }}"
                                today="today"
                                clear="clear"
                                close="close"
                                select-years="15">
                        </div>
                        <div class="input-field col s4">
                            <input
                                input-date
                                type="text"
                                name="departure"
                                id="departure"
                                ng-model="departure"
                                container="body"
                                format="dd/mm/yyyy"
                                months-full="{{ month }}"
                                months-short="{{ monthShort }}"
                                weekdays-full="{{ weekdaysFull }}"
                                weekdays-short="{{ weekdaysShort }}"
                                weekdays-letter="{{ weekdaysLetter }}"
                                disable="disable"
                                min="{{ minDateD }}"
                                max="{{ maxDateD }}"
                                today="today"
                                clear="clear"
                                close="close"
                                select-years="15">
                        </div>
                        <div class="input-field col s4">
                            <input placeholder="Invités" id="guests" ng-model='guests' type="number" min="1">
                        </div>
                        <div style="display: none">
                            <input ng-model='newMsg.recipient' type='text' id='recipient'>
                        </div>
                        <ng-include src="'/views/messaging/message.html'"></ng-include>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
