<div class="container">
    <div class="row no-margin">
        <div style='background-image:url("uploads/spots/{{spot._id}}/large/{{spot.pictures[0]}}");' class='bg-fullwidth'></div>
    </div>
    <div class="row no-margin">
        <div class="col s12 m8">
            <!-- main card -->
            <div class="row card-panel valign-wrapper">
                <div class="col s4 m3">
                    <div class='valign center-align'>
                        <img ng-src="{{spot.owner.picture && '/uploads/users/'+spot.owner._id+'/large/'+spot.owner.picture || '/assets/hobbynaut-avatar.gif'}}" alt="{{spot.owner.identity.firstName + ' ' + spot.owner.identity.lastName}}" class='circle responsive-img'/>
                        <br/>
                        <b>{{spot.owner.identity.firstName + ' ' + spot.owner.identity.lastName}}</b>
                        <p>
                            <span class="center-align grey-text lighten-5" style='font-size:12px;'>
                                <star-rating ng-model="spot.owner.numReviews" readonly="true"></star-rating>
                                <br/>{{spot.owner.numReviews}}
                                avis</span>
                        </p>
                    </div>
                </div>
                <div class="col s8 m9">
                    <div class="right">
                        <a facebook class="facebookShare" data-picture='http://hobbnb.com/uploads/places/{{spot._id}}/large/{{spot.picture}}' data-url='http://hobbnb.com/place/{{spot._id}}' data-shares='shares'>{{ shares }}</a>
                        <a ng-show="spot.owner._id == currentUser._id || currentUser.isAdmin" href="/edition/spot/{{currentSpot}}" class="btn btn-flat blue">Modifier</a>
                    </div>
                    <div class='row'>
                        <h4>{{spot.name}}</h4>
                        <h5>
                            {{spot.address.street_number}}
                            {{spot.address.route}}<br/>
                            {{spot.address.postal_code}}
                            {{spot.address.locality}},
                            {{spot.address.country}}</h5>
                    </div>
                    <div class="row center-align">
                        <div class="col m4 l2">
                            <img src="/assets/hobbies/{{spot.hobby}}.png" class='hobby-main' alt=""/><br/>
                            {{spot.hobby}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pictures -->
            <div class="row card-panel grey lighten-5">
                <h5>Photos</h5>
                <div class="row" ng-init="clicked = false">
                    <div class="col s6 no-margin" ng-repeat='picture in spot.pictures' ng-click="clicked = !clicked">
                        <div materialboxed class="thumbnail show">
                            <img class="object-fit_cover materialboxed" ng-src="/uploads/spots/{{spot._id}}/large/{{picture}}">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Comment & Rating -->
            <div class="row card-panel grey lighten-5">
                <div class="col s10 offset-s1">
                    <h5>Avis et commentaires</h5>
                    <!--rating -->
                    <div class="row">
                        <div class="col s3 center">
                            <b>{{spot.rating.numberOfRatings}}
                                Avis</b><br/>
                            <star-rating ng-model="spot.rating.overallRating" readonly="true"></star-rating>
                        </div>
                        <div class="col s3 center">
                            <img src="/assets/hobbies/quality.png" width="20%" alt=""/>
                            Quality<br/>
                            <star-rating ng-model="spot.rating.quality" readonly="true"></star-rating>
                        </div>
                        <div class="col s3 center">
                            <img src="/assets/hobbies/beauty.png" width="20%" alt=""/>
                            Beauty<br/>
                            <star-rating ng-model="spot.rating.beauty" readonly="true"></star-rating>
                        </div>
                        <div class="col s3 center">
                            <img src="/assets/hobbies/facility.png" width="20%" alt=""/>
                            Accessibility<br/>
                            <star-rating ng-model="spot.rating.accessibility" readonly="true"></star-rating>
                        </div>
                    </div>
                    <!--comments -->
                    <div class="row">
                        <div class="col s10 offset-s1" ng-repeat='comment in spot.comments'>
                            <div class="card-panel grey lighten-5 z-depth-1">
                                <div class="row valign-wrapper">
                                    <div class="col s2 center">
                                        <img
                                            ng-src="{{comment.owner.picture && '/uploads/users/'+comment.owner._id+'/large/'+comment.owner.picture || '/assets/hobbynaut-avatar.gif'}}"
                                            alt="{{comment.owner.identity.firstName + ' ' + comment.owner.identity.lastName}}"
                                            class="circle responsive-img">
                                        <br>
                                        <b>{{comment.owner.identity.firstName + ' ' + comment.owner.identity.lastName}}</b>
                                    </div>
                                    <div class="col s10">
                                        <span class="black-text">
                                            <b>{{comment.title}}</b>
                                            <br>
                                            {{comment.comment}}<br>
                                            <br>{{comment.creation.substring(0,10)}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <divclass="col s12">
                            <div class="grey lighten-5">
                                <div class="row" ng-hide='toggleComment'>
                                    <div class="col s12 center">
                                        <button class='btn green accent-2 waves-effect waves-light' ng-click='toggleComment = true'>Ajouter un commentaire</button>
                                    </div>
                                </div>
                                <div class="row valign-wrapper" ng-show='toggleComment'>
                                    <div class="col s2 center">
                                        <img
                                            ng-src="{{currentUser.owner.picture && '/uploads/users/'+currentUser.owner._id+'/large/'+currentUser.owner.picture || '/assets/hobbynaut-avatar.gif'}}"
                                            alt="{{currentUser.owner.identity.firstName + ' ' + currentUser.owner.identity.lastName}}"
                                            class="circle responsive-img">
                                        <br>
                                        <b>{{currentUser.identity.firstName + ' ' + currentUser.identity.lastName}}</b>
                                    </div>
                                    <div class="col s10">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="title" type="text" ng-model='comment.title'>
                                                <label for="title">Titre</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <textarea id="commentaire" ng-model='comment.comment' class="materialize-textarea"></textarea>
                                                <label for="commentaire">Commentaire</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s4">
                                                <span class="custom-label">Qualité</span>
                                                <star-rating ng-model="comment.quality"></star-rating>
                                            </div>
                                            <div class="col s4">
                                                <span class="custom-label">Beauté</span>
                                                <star-rating ng-model="comment.beauty"></star-rating>
                                            </div>
                                            <div class="col s4">
                                                <span class="custom-label">Accesibilité</span>
                                                <star-rating ng-model="comment.accessibility"></star-rating>
                                            </div>
                                            <div class="col s12">
                                                <p class="center-align">
                                                    <button class="btn green accent-2 waves-effect waves-light" type="button" ng-click='addSpotComment()'>Ajouter un commentaire</button>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row card-panel grey lighten-5">
                    <div class="col s10 offset-s1">
                        <h5>Alentours</h5>
                        <br>
                        <ng-map default-style="true" center="[{{spot.latitude}},{{spot.longitude}}]" zoom="8">
                            <marker
                                position="[{{spot.latitude}},{{spot.longitude}}]"
                                title="{{spot.name}}"
                                icon="{
                                      url:'{{'/assets/search/tile' + spot.hobby + '.png'}}',
                                      scaledSize:[42,45],
                                      origin: [0,0],
                                      anchor: [21,45]
                                      }"></marker>
                        </ng-map>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
