<div class="container">
    <h2 class="center-align">Devenez hobbinaute</h2>
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" ng-model='hobbinaut.email' ng-keyup="$event.keyCode == 13 && create()">
                    <label for="email">Adresse e-mail</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="pass" type="password" class="validate" ng-model='hobbinaut.password' ng-keyup="$event.keyCode == 13 && create()">
                    <label for="pass">Mot de passe</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="passConfirm" type="password" class="validate" ng-model='hobbinaut.passwordConfirm' ng-keyup="$event.keyCode == 13 && create()">
                    <label for="passConfirm">Confirmez</label>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="firstName" type="text" class="validate" ng-model='hobbinaut.identity.firstName' ng-keyup="$event.keyCode == 13 && create()">
                    <label for="firstName">Prénom</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="lastName" type="text" class="validate" ng-model='hobbinaut.identity.lastName' ng-keyup="$event.keyCode == 13 && create()">
                    <label for="lastName">Nom</label>
                </div>
            </div>
            <div class="row">
                <div class="col m12">
                    <p class="center-align">
                        <button class="btn btn-large blue lighten-2 waves-effect waves-light" type="button" ng-click='create()'>Créer un compte</button>
                    </p>
                    <p class='red-text'>
                        {{error}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
